.nav-link {
    font-weight: bold;
    line-height: 1;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
    color: rgba(125, 125, 255);
}

header {
    height: 75vh;
    width: 100%;
    background-image: url("/images/top-image-dark.webp");
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-size: calc(2.5rem + 3vw);
}

.font-marker {
    font-family: 'Permanent Marker', cursive;
}

.font-kalam {
    font-family: 'Kalam', cursive;
}

.bg-pink {
    background:  rgb(255, 100, 255);
}

.bg-blue {
    background: rgb(125, 125, 255);
}

.bg-blue-triangle {
    background: linear-gradient(to top left, #fff 0%, #fff 50%, rgb(125, 125, 255) 50%, rgb(125, 125, 255) 100%);
}

.text-pink {
    color: rgb(255, 100, 255);
}

.text-blue {
    color: rgba(125, 125, 255);
}

.text-white {
    color: white;
}

.text-shadow {
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.40);
}

.text-shadow-strong {
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.80);
}

.btn-pink {
    background-color: rgb(255, 100, 255);
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.btn-pink:hover {
    background-color: rgb(255, 0, 255);
    color: white;
}

.left-text h3 {
    font-size: calc(1rem + 1.75vw);
}

.right-text {
    font-size: calc(1rem + .5vw);
}

.image-row {
    margin-top: -4rem;
}

.image-round {
    border-radius: 50%;
}

.m-n2rem {
    margin: -2rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-7 {
    margin-bottom: 12rem;
}

.footer-text {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: calc(1rem + .5vw);
    color: white;
}

.footer-link {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: calc(1rem + .5vw);
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: rgba(125, 125, 255);
}

.footer-social {
    font-size: calc(1rem + .5vw);
    color: white;
}

.footer-social:hover {
    color: rgba(125, 125, 255);
}